@import '@/styles/palette/palette.scss';

@mixin panelStyle() {
	width: 50%;
	height: 100%;
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
}

.SignTemplate {
	width: 100%;
	height: 100vh;
	background-color: $purple;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&-Box {
		width: 55%;
		height: 65%;
		background-color: $white;
		display: flex;
		display: -webkit-flex;
		padding: 20px;

		&-LeftPanel {
			@include panelStyle();
			padding-right: 20px;
			border-right: 2px solid $lighterGray;
			position: relative;

			&-Title {
				font-size: 25px;
				border-bottom: 1px solid $lighterGray;
				padding-bottom: 5px;
			}
		}

		&-RightPanel {
			@include panelStyle();
			align-items: center;

			& > img {
				width: 90%;
				object-fit: cover;
			}
		}
	}
}
