@import '@/styles/palette/palette.scss';

@mixin flexStyle() {
	display: flex;
	display: -webkit-flex;
}

.Email {
	@include flexStyle();
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	margin-top: 12px;

	&-Top {
		border-bottom: 1px solid $lighterGray;
		padding-bottom: 5px;
		margin-bottom: 1rem;

		&-Title {
			font-size: 26px;
			font-weight: bold;
			margin-bottom: 5px;
		}

		&-SubTitle {
			font-size: 20px;
		}
	}

	&-Form {
		@include flexStyle();
		flex-direction: column;
		-ms-flex-direction: column;
	}
}
